<!-- Don't forget to include a header and footer file here -->


<form action="/submit" method="POST">
    <label for = "Title">Title:</label> <br>
    <input type="text" id="Title" name="Title"><br>
    <label for = "Content">Content:</label> <br>
    <input type="text" id="Content" name="Content"><br><br>
    <input type="submit" value="Submit">
</form>